

body{
    font-family: 'Montserrat', sans-serif;
}

#title{
    background-color: #ff677ec5;
}

.navbar{
    margin-bottom: 2rem;
}



.header-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 5rem;
    color: white;
    font-weight: 900;
    /* padding-top: 1rem; */
    /* margin: 2rem 1rem 2rem 0; */
    /* padding: 2rem 0 2rem 0; */
}
.row{
    margin: 0;
}
.header-btn{
    margin: 5% 3% 0 0;
}
.container-fiuld{
    padding: 3% 8%;
}

.navbar-brand{
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
}
.navbar-nav .nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-left: 2rem;
    /* margin-right: 2rem; */
}

.header-img{
    /* transform: rotate(25deg); */
    margin: 1.3rem 0 0 20%;
    width: 70%;
    height: auto;

}

@media (min-width: 992px){
    .header-img{     
        transform: rotate(25deg);
    }
    .header-title{
        padding-top: 8%;
    }
    .feature-container{
        width: 100%;
        position: absolute;
        background-color: white;
        z-index: 1;
    }
    .title-container{
        padding-bottom: 8%;
    }
    .header-img{
        position: absolute;
    }
    .header-item{
        position: relative;
    }
}



.feature-item{

    margin-top: 5rem;
    text-align: center;    
    padding-left: 2rem;
    padding-right: 2rem;
}

.feature-icon{
    font-size: 3rem;
    color: #ff677ec5;
    margin-bottom: 1rem;
}

.feature-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-detail{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #8f8f8f;
}