

body{
    font-family: 'Montserrat', sans-serif;
}

#title{
    background-color: #ff677ec5;
}

.navbar{
    margin-bottom: 2rem;
}



.header-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 5rem;
    color: white;
    font-weight: 900;
    /* padding-top: 1rem; */
    /* margin: 2rem 1rem 2rem 0; */
    /* padding: 2rem 0 2rem 0; */
}
.row{
    margin: 0;
}
.header-btn{
    margin: 5% 3% 5% 0;
}
.container-fiuld{
    padding: 3% 8%;
}

.navbar-brand{
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
}
.navbar-nav .nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-left: 2rem;
    /* margin-right: 2rem; */
}

.header-img{
    /* transform: rotate(25deg); */
    margin-top: 1.3rem;
    margin-left: 15%;
    width: 70%;
    height: auto;

}

@media (min-width: 992px){
    .header-img{     
        transform: rotate(25deg);
    }
    .header-title{
        padding-top: 8%;
    }
    .feature-container{
        width: 100%;
        position: relative;
        background-color: white;
        z-index: 1;
    }
    .title-container{
        padding-bottom: 8%;
    }
    .header-img{
        position: absolute;
    }
    .header-item{
        position: relative;
    }
}


.feature-item{

    margin: 3rem 0;
    text-align: center;    
    padding-left: 2rem;
    padding-right: 2rem;
}

.feature-icon{
    font-size: 3rem;
    color: #ff677ec5;
    margin-bottom: 1rem;
}

.feature-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-detail{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #8f8f8f;
}



#testimonials{
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 3% 8%;
    background-color:  #ff677ec5;
    text-align: center;
}

.testimonials-text{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.5;
    padding: 1rem;
}
.testimonials-imgt{
    width: 10%;
    border-radius: 100%;
    margin: 1rem;
}


#press{
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 3% 8%;
    background-color:  #ff677ec5;
    text-align: center;
}

.press-item{
    width: 15%;
    margin: 2%;
}

#pricing{
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 3% 8%;
    background-color: white;
    text-align: center;
}

.mycard-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    
}

.mycard-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    color:  #8f8f8f;
    margin: 0.4rem 0;
}

.mycard-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

    font-weight: 900;

}

.card-item{
    margin: 2rem 0;
}

.price-title{
    margin-top: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 900;
}
.price-text{
    font-family: 'Montserrat', sans-serif;
    color:  #8f8f8f;
}

.price-btn{
    margin: 1rem;
}


#cta{
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 3% 8%;
    background-color:  #ff677ec5;
    text-align: center; 
}

.cta-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: white; 
}

#footer{
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 5% 8%;
    background-color: white;
    text-align: center;    
}

.footer-icon{
    font-size: 0.7rem;
    margin: 0.7rem;
}

.footer-text{
    font-family: 'Montserrat', sans-serif;
    color:  #8f8f8f;
    font-size: 0.7rem;
}